:root {
  --purple: #53398E;
  --blue: #81A4FF;
  --red: #DC8A9F;
  --dark-blue: #645BBE;
  --black: #1C1E30;
  --mobile-width: 600px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: hsl(234, 26%, 15%) radial-gradient( 
                hsl(234, 26%, 35%),
                hsl(234, 26%, 15%)
              );
}

.navbar {
  width: 100%;
  color: white;
  float:left;
  background-color: var(--black);
}

.navbar__controls {
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: inset 2px var(--purple);
  background-color: var(--black);
}

.navbar__container {
  position: relative;
}

.navbar__brand {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.navbar__toggler {
  margin: 0;
  overflow: visible;
  text-transform: done;
  padding: .25rem .75rem;
  font-size: 1.25em;
  line-height: 1;
  background: 0 0;
  border: 1px solid white;
  border-radius: .25em;
  cursor: pointer;
}

.navbar__toggler > svg {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.navbar__items {
  display: block;
  z-index: 10;
  position: absolute;
  top: -12em;
  padding: 0;
  margin: 0;
  background-color: var(--black);
  opacity: 0;
  right: 0;
  left: 0;
  transition: top 1s, opacity 1s;
}

.navbar__items--open {
  opacity: 1;
  top: 0;
}

.navbar__item {
  opacity: 0.8;
}

.navbar__item--active {
  opacity: 1;
}

.navbar__link {
  padding: 1em 0 1em 1em;
  width: 100%;
  display: inline-block;
  transition: padding 1s;
}

.navbar__link:hover {
  padding: 1em 0 1em 1.5em;
  background-color: var(--purple);
}

/* Helper classes */
.screen_reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.screen_reader.focusable:active,
.screen_reader.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.container {
  height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  z-index: 5;
}

.logo {
  border-radius: 50%;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rotate;
}

.sandbox > a {
  color: white;
  text-decoration: none;
  font-size: 6em;
}

.sandbox > a:hover {
  animation:shake 0.2s infinite;
}

@media (min-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: inset 2px var(--purple);
  }
  
  .navbar__controls {
    border-bottom: none;
  }
  
  .navbar__toggler {
    display: none;
  }
  
  .navbar__items {
    display: flex;
    padding: 0 1em;
    list-style-type: none;
    position: static;
    padding: 0;
    margin: 0;
    background-color: var(--black);
    opacity: 1;
    transition: top 1s, opacity 1s;
  }
  
  .navbar__link {
    padding: 1em;
    height: 100%;
  }
  
  .navbar__link:hover {
    padding: 1em;
  }
}

@keyframes rotate {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 0);
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes shake {
    0% { transform: skewX(1deg); } 
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(23deg); }
    30% { transform: skewX(-70deg); text-shadow:17px 8px rgba(1, 1, 1, 0.65); }
    40% { transform: skewX(30deg); }
    50% { transform: skewX(-20deg); }
    60% { transform: skewX(3deg); text-shadow:-10px 8px rgba(1, 1, 1, 0.65); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); text-shadow:30px 18px rgba(1, 1, 1, 0.65); }
    100% { transform: skewX(0deg);}
}
